<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.profs.rowgame"
    android:versionCode="2"
    android:versionName="1.1.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".view.CompetitionActivity"/>
        <activity android:name=".view.TrainingActivity" />
        <activity android:name=".view.PairingActivity" />
        <activity android:name=".view.inventory.RowerDetailsActivity" />
        <activity android:name=".view.shop.ShopActivity" />
        <activity android:name=".view.inventory.InventoryActivity" />

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>